*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

#Ant
build.xml
local.properties
proguard.cfg


/photoview/src/test/
/app/src/test/
